<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzydz.platform.modules.user.mapper.ContentNewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mzydz.platform.modules.user.entity.PO.content.ContentNews">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="img_cover" property="imgCover" />
        <result column="source" property="source" />
        <result column="details" property="details" />
        <result column="content_type" property="contentType" />
        <result column="is_show" property="isShow" />
        <result column="is_top" property="isTop" />
        <result column="create_time" property="createTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="timestamp" property="timestamp" />
        <result column="view_nums" property="viewNums" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, title, img_cover, source, details, content_type, is_show, is_top, create_time, is_deleted, timestamp,view_nums
    </sql>


    <select id="findByCondition" resultMap="BaseResultMap">
        select
        id, user_id, title, img_cover, source, content_type, is_show, is_top, create_time, is_deleted, timestamp,view_nums
        from content_news
        where is_deleted =0
        <if test="news.startDate !=null  and news.endDate !=null ">
            and (create_time &gt;= #{news.startDate,jdbcType=TIMESTAMP} and create_time &lt;=
            #{news.endDate,jdbcType=TIMESTAMP})
        </if>
        order by is_top desc,id desc

    </select>
    <!--浏览量加一-->
    <update id="updateViewNumsAddOne">
        update  content_news set view_nums = view_nums+1
        where id=#{id}
    </update>

</mapper>
